@use "@/pages/variables" as *;

.isActive {
  background-color: white;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;

  &:hover {
    background-color: white;
  }
}

.logoWithNavItem {
  display: flex;
  height: 100%;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}

.container {
  background-color: #f0f0f0;
  height: 60px;
  display: flex;

  nav {
    height: 100%;
    ul {
      display: flex;
      height: 100%;

      li {
        a,
        button {
          font-weight: 500;
          padding: 0 25px;
          height: 100%;
          display: flex;
          align-items: center;

          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
}

.desktopNav {
  display: block;
  flex-grow: 1;
}

.mobileNav {
  display: none;
  flex-grow: 1;
  z-index: 1000;

  nav {
    display: none;
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    background-color: #f0f0f0;
    overflow-y: scroll;

    hr {
      color: $primary-color;
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 300px;

      li {
        a,
        button {
          padding: 20px 20px;
        }
      }
    }
  }

  &.isMobileNavActive {
    nav {
      display: flex;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: flex;
  }
}

@media (max-width: $mobile-breakpoint) {
  .loginOrUserButtons nav ul li a {
    padding: 0 10px;
  }

  .mobileLogoWrapper {
    .logo {
      padding-right: 15px;
      padding-left: 15px;

      svg {
        width: 100px;
        height: auto;
      }
    }
  }
}
