@use "../../pages/variables" as *;

.main {
    height: calc(100vh - 60px);
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 44px 75px 15px 75px;
}

.sidebar {
    min-width: 500px;
    width: 30%;
    border-left: 3px solid #D9E5FF;
}

@media (max-width: $mobile-breakpoint) {
    .sidebar {
        display: none;
    }

    .content {
        flex-grow: 1;
        width: 100%;
        padding: 0;
    }
}
