@use "../../pages/variables" as *;

.main {
    height: calc(100vh - 60px);
    display: flex;
}

.content {
    flex-grow: 1;
}

.sidebar {
    min-width: 500px;
    width: 30%;
    background-color: #6f86b6;
}

@media (max-width: $mobile-breakpoint) {
    .sidebar {
        display: none;
    }

    .content {
        flex-grow: 1;
        width: 100%; /* optional, to take full space */
    }
}
