$buttonColor: #19c290;
$buttonColorHover: #18ad80;

.wrapper {
    padding-top: 40px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: $buttonColor;
    border: 1px solid $buttonColor;
    width: 100%;
    padding: 13px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
        background-color: $buttonColorHover;
        border-color: $buttonColorHover;
    }
}
