@use "../../pages/variables" as *;

.wrapper {
    position: relative;
    background-color: #a2b9eb;
    border-radius: 13px;
}

.spacer {
    padding-bottom: 55%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logoBig {
    opacity: 0.3;
    width: 22%;

    svg {
        width: 100%;
        height: auto;
    }
}

.personalCode {
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    top: 39px;
    gap: 12px;
    padding-right: 10px;

    span {
        &:nth-child(1) {
            font-size: 12px;
        }
        &:nth-child(2) {
            font-size: 30px;
            font-weight: bold;
        }
    }

    button {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #e2ebff;
        }
    }
}

.localVideo {
    width: 180px;
    height: 180px;
    background-color: #c9dafd;
    border-radius: 12px;
    position: absolute;
    top: 14px;
    left: 14px;
    overflow: hidden;

    video {
        height: 100%;
        width: 100%;
    }

    span {
        font-size: 18px;
        z-index: 30;
        color: black;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        color: black;
        background-color: #c9dafd;
        padding: 3px 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .personalCode {
        right: 5px;
        padding: 0;
        top: 15px;
    }

    .localVideo {
        width: 120px;
        height: auto;
        left: 0;
        top: 0;

        span {
            font-size: 12px;
            padding: 0px 10px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    }
}
